<div class="categories-show">
  <h2 class="text-center"><%= @author.first_name %> <%= @author.last_name %></h2>
  <div class="row books-index">
    <p><%= render @books %></p>
  </div>
  <div class="row text-center paginate-authors-show">
    <%= render 'shared/paginate_books' %>
  </div>
</div>