<div class="modal fade" id="login-modal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title text-center" id="myModalLabel">TO LOG IN <br> PLEASE FILL IN THE FORM BELOW:</h4>
      </div>
      <div class="modal-body">
        <%= render 'sessions/form' %>
      </div>
    </div>
  </div>
</div>