<div class="text-center">
  <button class="btn btn-success" data-toggle="modal" data-target="#newReview_<% @review.id %>">
    <%= 'Leave your review here' %>
  </button>
</div>
<div class="modal fade" id="newReview_<% @review.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title text-center no-reviews" id="myModalLabel">TO CREATE REVIEW <br>PLEASE FILL IN THE FORM BELOW:</h4>
      </div>
      <div class="modal-body">
        <%= render 'reviews/form', review: @review %>
      </div>
    </div>
  </div>
</div>