<% if params[:controller] == 'about' %>
  <div class="well">
    <h3>Contact info</h3>
  </div>
   <% else %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="text-center"></h4>
      </div>
      <!--@side_list.each do |post| %>-->
      <ul class="list-group">
      <li class="list-group-item"></li>
      </ul>
      <!--end %>-->
    </div>
<% end %>