<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="text-center"></h4>
  </div>
  <!--@side_list.each do |post| %>-->
  <!--<ul class="list-group">-->
  <!--<li class="list-group-item"> link_to (post.title), post %></li>-->
  <!--</ul>-->
  <!--end %>-->
</div>