<div class="book_index">
  <div class="row">
    <p><%= render 'slider' %></p>
  </div>
  <div class="row">
      <p><%= render @books, book: @book, order_book: @order_book %></p>
  </div>
  <div class="row text-center">
    <%= will_paginate @books %>
  </div>
  <hr>
</div>

  <!--<script>-->
  //    $('#will_paginate_id').bind('click', function(event){
  //
  //        window.scrollTo(0,0);
  //
  //        // Some code to show loader on screen
  //
  //        $('#loading').html('Loading');
  //    });
  <!--</script>-->

