<div class="book_index">
  <div class="row">
    <p><%= render 'slider' %></p>
  </div>
  <div class="row">
      <p><%= render @books, book: @book, order_book: @order_book %></p>
  </div>
  <div class="row text-center">
    <%= will_paginate @books %>
  </div>
  <hr>
</div>

