<div class="book_index">
  <div class="row">
      <p><%= render @books, book: @book, order_book: @order_book%></p>
  </div>
</div>

<script>
    $('.star-rating').raty({
        readOnly: true,
        score: function() {
            return $(this).attr('data-score');
        },
        path: '/assets/',
    });
</script>

