<div class="book_index">
  <div class="row">
    <p><%= render 'slider' %></p>
  </div>
  <div class="row">
    <h4 class="text-center">NEW COMERS:</h4>
    <p><%= render 'carousel' %></p>
  </div>
  <div class="row">
    <h4 class="text-center">ALL BOOKS:</h4>
      <p><%= render @books, book: @book, order_book: @order_book %></p>
  </div>

</div>

