<!--<div class="row books-index">-->
  <!--<p><%= render @books %></p>-->
<!--</div>-->
<!--<div class="row text-center paginate-books-index">-->
  <!--<%= render 'shared/paginate_books' %>-->
  <!--&lt;!&ndash;TODO&ndash;&gt;-->
<!--</div>-->
