<div class="container">
<div id="book-show">

  <div class="books-show-left">
    <h2><%=	@book.title %></h2>
    <h3>Book info:</h3>
    <ul>
      <li><strong>Author</strong></li>
      <li><strong>Year</strong></li>
      <li><strong>Pages</strong></li>
      <li><strong>Language</strong></li>
      <li><strong>Category</strong></li>
      <li><strong>Publisher</strong></li>
    </ul>
    <br>
    <hr>
    <div class="row">
      <p class="price"><%= number_to_currency(@book.price, unit: 'грн.', format: '%n %u') %></p>
      <div class="row">
          <%= button_to 'Add to cart', add_to_cart_book_path(@book), class:'btn btn-success right' %>
      </div>
    </div>
  </div>
  <div class="books-show-right">
    <img src="http://placehold.it/300x400" alt="...">
  </div>
</div>

</div>
<div class="clearfix">
  <h4>Description</h4>
  <p>Human beings have always been mythmakers.” So begins best-selling writer Karen Armstrong’s concise yet compelling investigation into myth: what it is, how it has evolved, and why we still so desperately need it. She takes us from the Paleolithic period and the myths of the hunters right up to the Great Western Transformation” of the last five hundred years and the discrediting of myth by science. The history of myth is the history of humanity, our stories and beliefs, our curiosity and attempts to understand the world, which link us to our ancestors and each other. Heralding a major series of retellings of international myths by authors from around the world, Armstrong’s characteristically insightful and eloquent book serves as a brilliant and thought-provoking introduction to myth in the broadest senseand explains why if we dismiss it, we do so at our peril.</p>
</div>