/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  @import "bootstrap-sprockets";
  @import "bootstrap";

body {
  margin-top: 65px;
}

footer{
  height: 30px;
}

#books-show h2{
  padding: 10px;
  background: #f4f4f4;
}

.books-show-left{
  float: left;
  width: 40%;
}

.books-show-right{
  float: left;
  width: 60%;
  margin-top: 10px;
}

#books-show .btn{
  margin: 20px 0 0 70px;
}

.well {
  background-color: white;
}

.price {
  float: right;
}

.btn-group {
  //margin-left: 30px;
}

.btn.disabled {
  opacity: 1;
}

.style_image {
  height: 80px;

}

.glyphicon {
  color: #5CB85C;
}

.navbar {
  height: 51px;
}

.nav-center{
  margin-left: 150px;
}

.phone {
  font-size: 30px;
  font-family: 'Glyphicons Halflings';
}

.dropdown-menu {
  min-width: 150px;
}

.glyphicon.glyphicon-shopping-cart {
  color: #ec971f!important;
  font-size: 33px;
}

.glyphicon.glyphicon-shopping-cart:hover{
  color: #f0ad4e!important;
  font-size: 33px;
}

.glyphicon.glyphicon-trash {
  margin-top: 15px;
  color: #449d44!important;
}

.cart-book-title {
  font-size: 15px;
}

.cart-total-price {
  font-size: 25px;
}

.checkout {
  margin-bottom: 11px;
}

.book-in-cart {
  color: yellow;
}

.form-control:focus {
  border-color: #54b817;
}

.quantity {
  width: 52px!important;
}

.sold-out {
  margin-left: 12px;
}