<div class="categories-show">
  <h2 class="text-center"><%= @category.name %></h2>
  <div class="row index_books">
    <p><%= render @books %></p>
  </div>
  <div class="row text-center paginate">
    <%= render 'shared/paginate' %>
  </div>
</div>